<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :postal_code, class: "search_form", placeholder: "郵便番号を入れてね💛" %>
      <% end %>
    </div>
  </div>
</section>


<footer class="footer">
  <div class="content has-text-centered">
    <p>
      郵便番号: <%= @zipcode %>
    </p>
    <p>
      都道府県: <%= @address1 %>
    </p>
    <p>
      市区町村: <%= @address2 %>
    </p>
    <p>
      町域: <%= @address3 %>
    </p>
  </div>
</footer>
